/* Star home */
.Rectangle{
    position: absolute;
    display: flex;
    background-color: #2D3F45;
    width: 1920px;
    height: 76px;
    left: 0px;
    top: 2949px;
}

.Rectangle nav {
    flex-direction: row;
}

.Rectangle nav ul {
    position: absolute;
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    top: 27px;
    left: 405px;
    width: 724px;
    height: 23px;
    gap: 41px;
}

.Rectangle nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto-R';
}

.Rectangle .Linkedin {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 1303px;
    top: 19px;
}

.Rectangle .Linkedin svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

.Rectangle .Instagram {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 1348px;
    top: 19px;
}

.Rectangle .Instagram svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

.Rectangle .Youtube {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1393px;
}

.Rectangle .Youtube svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

.Rectangle .Twitter {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1438px;
}

.Rectangle .Twitter svg {
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

.Rectangle .Facebook {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1483px;
}

.Rectangle .Facebook svg {
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#home-footer {
    position: absolute;
    left: 0px;
    width: 1920px;
    height: 110px;
    background-color: #324950;
    top: 3025px;
}

#home-footer p {
    position: absolute;
    left: 812px;
    top: 55px;
    font-size: 14;
    font-family: "Roboto-R";
    color: #B9B9B9;
    margin: 0 0 0 0;
}
/* End home */

/* Start tomato */
#tomato-footer .f-1 {
    position: absolute;
    display: flex;
    background-color: #2D3F45;
    width: 1920px;
    height: 76px;
    left: 0px;
    top: 2893px;
}

#tomato-footer .f-1 nav {
    flex-direction: row;
}

#tomato-footer .f-1 nav ul {
    position: absolute;
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    top: 27px;
    left: 405px;
    width: 724px;
    height: 23px;
    gap: 41px;
}

#tomato-footer .f-1 nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto-R';
}

#tomato-footer .f-1 .Linkedin {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 1303px;
    top: 19px;
}

#tomato-footer .f-1 .Linkedin svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer .f-1 .Instagram {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 1348px;
    top: 19px;
}

#tomato-footer .f-1 .Instagram svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer .f-1 .Youtube {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1393px;
}

#tomato-footer .f-1 .Youtube svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer .f-1 .Twitter {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1438px;
}

#tomato-footer .f-1 .Twitter svg {
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer .f-1 .Facebook {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1483px;
}

#tomato-footer .f-1 .Facebook svg {
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer .f-2 {
    position: absolute;
    left: 0px;
    width: 1920px;
    height: 51px;
    background-color: #324950;
    top: 2969px;
}

#tomato-footer .f-2 p {
    position: absolute;
    left: 812px;
    top: 18px;
    font-size: 14;
    font-family: "Roboto-R";
    color: #B9B9B9;
    margin: 0 0 0 0;
}
/* End tomato */

/* Start tomato one */
#tomato-footer-one .f-1 {
    position: absolute;
    display: flex;
    background-color: #2D3F45;
    width: 1920px;
    height: 76px;
    left: 0px;
    top: 1338px;
}

#tomato-footer-one .f-1 nav {
    flex-direction: row;
}

#tomato-footer-one .f-1 nav ul {
    position: absolute;
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    top: 27px;
    left: 405px;
    width: 724px;
    height: 23px;
    gap: 41px;
}

#tomato-footer-one .f-1 nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto-R';
}

#tomato-footer-one .f-1 .Linkedin {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 1303px;
    top: 19px;
}

#tomato-footer-one .f-1 .Linkedin svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer-one .f-1 .Instagram {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 1348px;
    top: 19px;
}

#tomato-footer-one .f-1 .Instagram svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer-one .f-1 .Youtube {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1393px;
}

#tomato-footer-one .f-1 .Youtube svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer-one .f-1 .Twitter {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1438px;
}

#tomato-footer-one .f-1 .Twitter svg {
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer-one .f-1 .Facebook {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1483px;
}

#tomato-footer-one .f-1 .Facebook svg {
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#tomato-footer-one .f-2 {
    position: absolute;
    left: 0px;
    width: 1920px;
    height: 51px;
    background-color: #324950;
    top: 1413px;
}

#tomato-footer-one .f-2 p {
    position: absolute;
    left: 812px;
    top: 18px;
    font-size: 14;
    font-family: "Roboto-R";
    color: #B9B9B9;
    margin: 0 0 0 0;
}
/* End tomato one */

/* Start contact us */
#contact-footer .f-1 {
    position: absolute;
    display: flex;
    background-color: #2D3F45;
    width: 1920px;
    height: 76px;
    left: 0px;
    top: 250px;
}

#contact-footer .f-1 nav {
    flex-direction: row;
}

#contact-footer .f-1 nav ul {
    position: absolute;
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    top: 27px;
    left: 405px;
    width: 724px;
    height: 23px;
    gap: 41px;
}

#contact-footer .f-1 nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto-R';
}

#contact-footer .f-1 .Linkedin {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 1303px;
    top: 19px;
}

#contact-footer .f-1 .Linkedin svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#contact-footer .f-1 .Instagram {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 1348px;
    top: 19px;
}

#contact-footer .f-1 .Instagram svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#contact-footer .f-1 .Youtube {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1393px;
}

#contact-footer .f-1 .Youtube svg{
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#contact-footer .f-1 .Twitter {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1438px;
}

#contact-footer .f-1 .Twitter svg {
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#contact-footer .f-1 .Facebook {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 19px;
    left: 1483px;
}

#contact-footer .f-1 .Facebook svg {
    fill: #57984C;
    width: 31.2px;
    height: 31.2px;
}

#contact-footer .f-2 {
    position: absolute;
    left: 0px;
    width: 1920px;
    height: 51px;
    background-color: #324950;
    top: 326px;
}

#contact-footer .f-2 p {
    position: absolute;
    left: 812px;
    top: 18px;
    font-size: 14;
    font-family: "Roboto-R";
    color: #B9B9B9;
    margin: 0 0 0 0;
}

@media(max-width: 1600px) {
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 1600px;
        height: 76px;
        left: 0px;
        top: 2736px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        font-size: 16px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 27px;
        left: 257px;
        width: 724px;
        height: 23px;
        gap: 41px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 1146px;
        top: 19px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 1189px;
        top: 19px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 1233px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 1276px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 1320px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        width: 1600px;
        height: 110px;
        background-color: #324950;
        top: 2812px;
    }
    
    #home-footer p {
        left: 675px;
        font-size: 14;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 1480px) {
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 1480px;
        height: 76px;
        left: 0px;
        top: 2736px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        font-size: 16px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 27px;
        left: 180px;
        width: 724px;
        height: 23px;
        gap: 41px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 1082px;
        top: 19px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 1126px;
        top: 19px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 1170px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 1214px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 1258px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        width: 1480px;
        height: 110px;
        background-color: #324950;
        top: 2812px;
    }
    
    #home-footer p {
        left: 600px;
        font-size: 14;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 1280px) {
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 1280px;
        height: 76px;
        left: 0px;
        top: 2665px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        font-size: 16px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 27px;
        left: 81px;
        width: 724px;
        height: 23px;
        gap: 41px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 984px;
        top: 19px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 1028px;
        top: 19px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 1072px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 1116px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 1160px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        width: 1280px;
        height: 110px;
        background-color: #324950;
        top: 2741px;
    }
    
    #home-footer p {
        left: 502px;
        font-size: 14;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 1024px) {
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 1024px;
        height: 76px;
        left: 0px;
        top: 2523px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        font-size: 14px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 27px;
        left: 10px;
        width: 724px;
        height: 23px;
        gap: 31px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 802px;
        top: 19px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 840px;
        top: 19px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 877px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 914px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 950px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        width: 1024px;
        height: 110px;
        background-color: #324950;
        top: 2599px;
    }
    
    #home-footer p {
        left: 363px;
        font-size: 14;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 812px) {
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 812px;
        height: 110px;
        left: 0px;
        top: 3140px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 27px;
        left: 10px;
        width: 415px;
        height: 23px;
        gap: 31px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 588px;
        top: 19px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 635px;
        top: 19px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 685px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 60px;
        left: 611px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 60px;
        left: 660px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        width: 812px;
        height: 110px;
        background-color: #324950;
        top: 3250px;
    }
    
    #home-footer p {
        left: 280px;
        font-size: 14px;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 768px) {
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 768px;
        height: 77px;
        left: 0px;
        top: 2513px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        font-size: 12px;
        padding: 0;
        margin: 0;
        display: flex;
        top: 30px;
        left: 0px;
        width: 505px;
        height: 23px;
        gap: 21px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 552px;
        top: 19px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 591px;
        top: 19px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 631px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 671px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 711px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        max-width: 768px;
        height: 110px;
        background-color: #324950;
        top: 2590px;
    }
    
    #home-footer p {
        left: 30%;
        font-size: 14;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 678px){
    .Rectangle{
        width: 100%;
        height: 100px;
        top: 3010px;
    }
    .Rectangle nav ul {
        top: 30px;
        left: 0px;
        width: 320px;
        height: 23px;
        gap: 21px;
    }
    .Rectangle .Linkedin {
        left: 445px;
        top: 19px;
    }
    .Rectangle .Instagram {
        left: 494px;
        top: 19px;
    }
    .Rectangle .Youtube {
        top: 19px;
        left: 543px;
    }
    .Rectangle .Twitter {
        left: 469px;
        top: 55px;
    }
    .Rectangle .Facebook {
        top: 55px;
        left: 519px;
    }
    #home-footer {
        text-align: center;
        justify-content: center;
        width: 100%;
        top: 3110px;
    }
}

@media(max-width: 640px) {
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 640px;
        height: 77px;
        left: 0px;
        top: 2456px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        font-size: 12px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 20px;
        left: 5px;
        width: 300px;
        height: 23px;
        gap: 10px 20px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 380px;
        top: 19px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 419px;
        top: 19px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 458px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 496px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 19px;
        left: 535px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        max-width: 640px;
        height: 110px;
        background-color: #324950;
        top: 2533px;
    }
    
    #home-footer p {
        left: 20%;
        font-size: 14;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 480px){
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 480px;
        height: 90px;
        left: 0px;
        top: 3023px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        font-size: 12px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 20px;
        left: 0px;
        width: 280px;
        height: 23px;
        gap: 20px 20px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 350px;
        top: 9px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 389px;
        top: 9px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 9px;
        left: 428px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 43px;
        left: 370px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 43px;
        left: 411px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        max-width: 480px;
        height: 110px;
        background-color: #324950;
        top: 3113px;
    }
    
    #home-footer p {
        left: 10%;
        font-size: 14;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 400px){
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 100%;
        height: 310px;
        left: 0px;
        top: 3453px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        font-size: 12px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 20px;
        left: 40%;
        width: 80px;
        height: 23px;
        gap: 20px 20px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 94px;
        top: 255px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 137px;
        top: 255px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 255px;
        left: 180px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 255px;
        left: 222px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 255px;
        left: 264px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 110px;
        background-color: #324950;
        top: 3763px;
    }
    
    #home-footer p {
        left: 110px;
        font-size: 14px;
        width: 190px;
        top: 40px;
        text-align: center;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 376px){
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 100%;
        height: 310px;
        left: 0px;
        top: 3633px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        font-size: 12px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 20px;
        left: 40%;
        width: 80px;
        height: 23px;
        gap: 20px 20px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 84px;
        top: 255px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 127px;
        top: 255px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 255px;
        left: 170px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 255px;
        left: 212px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 255px;
        left: 254px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 110px;
        background-color: #324950;
        top: 3943px;
    }
    
    #home-footer p {
        left: 100px;
        font-size: 14px;
        width: 190px;
        top: 40px;
        text-align: center;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}

@media(max-width: 320px){
    .Rectangle{
        position: absolute;
        display: flex;
        background-color: #2D3F45;
        width: 100%;
        height: 310px;
        left: 0px;
        top: 3813px;
    }
    
    .Rectangle nav {
        flex-direction: row;
    }
    
    .Rectangle nav ul {
        position: absolute;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        font-size: 12px;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 15px;
        top: 20px;
        left: 37%;
        width: 80px;
        height: 23px;
        gap: 20px 20px;
    }
    
    .Rectangle nav ul li a{
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto-R';
    }
    
    .Rectangle .Linkedin {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 59px;
        top: 255px;
    }
    
    .Rectangle .Linkedin svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Instagram {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        left: 98px;
        top: 255px;
    }
    
    .Rectangle .Instagram svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Youtube {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 255px;
        left: 137px;
    }
    
    .Rectangle .Youtube svg{
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Twitter {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 255px;
        left: 176px;
    }
    
    .Rectangle .Twitter svg {
        fill: #57984C;
        width: 30px;
        height: 30px;
    }
    
    .Rectangle .Facebook {
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        top: 255px;
        left: 214px;
    }
    
    .Rectangle .Facebook svg {
        fill: #57984C;
        width: 31.2px;
        height: 31.2px;
    }
    
    #home-footer {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 110px;
        background-color: #324950;
        top: 4123px;
    }
    
    #home-footer p {
        left: 63px;
        font-size: 14px;
        width: 190px;
        top: 40px;
        text-align: center;
        font-family: "Roboto-R";
        color: #B9B9B9;
    }
}